@import "fixStyle";
@import "listBoxStyle";
//商品推荐
.details-recommend {
    margin: 0 auto;
    margin-top: 48px;
    width: 1200px;
    overflow: hidden;
    padding-bottom: 42px;
    h2 {
        font-size: 18px;
        color: $aColor;
        line-height: 50px;
        border-bottom: 2px solid #CECAC7;
    }
    .recommend-list {
        width: 1264px;
        margin: 22px 0 0 -32px;
        overflow: hidden;
        li {
            max-width: 252px;
            margin: 0 32px;
            max-height: 252px;
            background: #eee;
            float: left;
             a {
                color: #684029;
                text-decoration: none;
                outline: none;
                cursor: pointer;
                img {
                    height: 252px;
                    width: 252px;
                }
             }
        }
    }
}
//商品广告图
.details-banner {
    margin: 0 auto;
    width: 1050px;
    height: 520px;
}
.details-banner .left-img-box {
    float: left;
    width: 924px;
    height: 520px;
    position: relative;
}
.details-banner .left-img-box img, .details-banner ul li img {
    width: 100%;
    height: 100%;
    background: #eee;
}
.left-img-box img{display: none;}
.left-img-box img.ac{display: block;}
.details-banner .right-list {
    float: right;
    width: 90px;
    position: relative;
    height: 520px;
}
.details-banner .right-list #bannerImgList li.ac{
    border: 1px solid #684029;
}
.details-banner .right-list .top-banner {
    height: 230px;
}
.details-banner ul {
    width: 90px;
    position: absolute;
    bottom: 0;
    left: 0;
    max-height: 280px;
    overflow: hidden;
}
.details-banner ul li {
    height: 50px;
    width: 90px;
    margin-top: 20px;
    cursor: pointer;
    &:hover{
        border:1px solid #684029;;
    }
}
.pro-details-cont {
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: #D8D8D8 solid 1px;
}
.details-content-left {
    width: 484px;
}
.details-content-left, .details-content-right {
    float: left;
}
.pro-details-title {
    font-size: 20px;
    line-height: 28px;
    padding-top: 20px;
}
.sub-title {
    min-height: 17px;
    line-height: 17px;
    color: #FF3933;
}
.pro-details-label {
    margin: 20px 0 14px;
    font-size: 0;
}
.pro-details-label a {
    display: inline-block;
    line-height: 18px;
    color: #D5BFA7;
    padding: 0 10px;
    border: 1px solid #D5BFA7;
    border-radius: 100px;
    margin-right: 6px;
    font-size: 12px;
}
.pro-details-cont{
    width: 1050px;
    margin: 0 auto;  
}
.details-constituent {
    overflow: hidden;
    margin-bottom: 14px;
}
.details-constituent li {
    float: left;
    height: 50px;
    line-height: 50px;
    color: #684029;
}
.details-constituent li img {
    display: inline-block;
    height: 50px;
    width: 50px;
    vertical-align: middle;
}
.details-constituent li span {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
}
.pro-details-explain {
    font-size: 12px;
    width: 484px;
    line-height: 2em;
    min-height: 30px;
}
.details-distribution {
    padding: 12px 0;
}
.details-distribution li {
    height: 34px;
    line-height: 34px;
}
.details-distribution li.distribution-exist i {
    background-position: -118px -2px;
    height: 20px;
    width: 19px;
}
.details-distribution li i {
    display: inline-block;
    vertical-align: middle;
    height: 34px;
    width: 30px;
    background-image: url(/images/indexImg/icon.png);
    background-repeat: no-repeat;
    background-size: 240px auto;
    margin: 0 10px;
}
//.details-distribution li.distribution-sweet i {
//  background: url(/themes/site/img/sweet.png) center no-repeat;
//  background-size: 22px auto;
//  width: 20px;
//  margin-right: 2px;
//}
.details-content-right {
    width: 500px;
    margin-left: 65px;
    position: relative;
}
.details-price {
    position: absolute;
    height: 25px;
    line-height: 25px;
    font-size: 18px;
    z-index: 10;
    top: 165px;
    left: 335px;
    color: #C69C6D;
}
.details-price span {
    font-size: 26px;
}
.details-img-box {
    overflow: hidden;
    padding-top: 28px;
    margin-bottom: 24px;
    min-height: 80px;
}
.details-img-box .details-img {
    float: left;
    width: 300px;
    height: 170px;
    display: block;
}
.details-img-box .img-box{float:left;display: none;}
.details-img-box .img-box.ac{display: block;}
.details-options {
    margin-top: 8px;
}
.fl-left {
    float: left;
    margin-left: 28px;
}
.details-options li {
    height: 25px;
    line-height: 25px;
    margin: 5px 0;
}
.details-options li i {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    background-image: url(/images/indexImg/icon.png);
    background-size: 310px 120px;
    background-repeat: no-repeat;
}
.details-options li.details-options-size i {
    background-position: -210px -5px;
}
.details-options li.details-options-unmber i {
    background-position: -235px -5px;
}
.details-options li.details-options-laid i {
    background-position: -260px -5px;
}
.details-options li.details-options-time i {
    background-position: -285px -5px;
}
.details-button {
    width: 344px;
    height: 40px;
    font-size: 13px;
}
.addcart-dialog{
    width: 500px;
    height: 75px;
    background: #CCCCCC;
    z-index: 10;
    position: absolute;
    right: 0;
    bottom: 0;border-radius: 10px;
    display: none;
    p{
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        text-align: center;
    }
    a{
        display: block;
        width: 100px;
        height: 30px;
        background: #684029;
        color: white;
        margin: 5px auto;
        border-radius: 10px;
        font-size: 14px;
        text-align: center;
        line-height: 30px;
        
    }
}
.details-Specifications-size dt, .details-Specifications-size-extra dt {
    height: 30px;
    width: 50px;
}
.details-Specifications-size dd li, .details-Specifications-size-extra dd li, .details-markup dd li {
    float: left;
    min-width: 60px;
    height: 30px;
    margin-left: 15px;
    text-align: center;
    color: #7A5844;
    margin-bottom: 14px;
    cursor: pointer;
}
.details-Specifications-size dd li.ac{
    border: 1px solid #7A5844;
}
.details-Specifications-size dd li a, .details-Specifications-size-extra dd li a, .details-markup dd li a {
    display: block;
    height: 28px;
    border: 1px solid #e7e0dd;
    position: relative;
    padding: 0 5px;
}
.details-Specifications-size dt, .details-Specifications-size-extra dt, .details-Specifications-size dd, .details-Specifications-size-extra dd, .details-markup dt, .details-markup dd {
    float: left;
    line-height: 30px;
}
.details-button button {
    width: 167px;
    height: 30px;
    line-height: 30px;
    border: none;
}
.details-but-buy, .details-but-cart {
    height: 40px;
    width: 238px;
    line-height: 40px;
    text-align: center;
    font-size: 13px;
}
.details-but-buy {
    float: left;
    background: #F4F4F4;
    color: #7A5844;
}
.details-but-cart {
    float: right;
    background: #684029;
    color: #fff;
}
.details-introduction{
    text-align: center;
    img{display: block;margin: 0 auto;}
}
